.addGoods,
.myGoods,
.myPurchase {
	.search-box {
		font-size: 16px;
		color: #333333;
		padding-bottom: 50px;
		border-bottom: 5px solid #f2f2f2;

		input {
			line-height: 43px;
			width: 300px;
			padding: 0 10px;
			margin: 0;
			box-sizing: border-box;
			border: 1px solid #bebebe;
			outline: none;
		}

		.search-btn {
			height: 36px;
			width: 80px;
			background: #000;
			color: #fff;
			line-height: 36px;
			text-align: center;
		}
	}

	.goods-list {
		margin: 50px 0;

		.goods-title {
			margin-top: 25px;
			margin-bottom: 20px;
			padding: 15px 0;
			font-weight: bold;
			color: #000;
			font-size: 15px;
			border-bottom: 1px solid #f5f5f5;
		}

		.goods-box {
			padding: 15px 0;
			color: #333;

			&:nth-child(2n) {
				background: #f5f5f5;

				input.chose-count {
					background: #f5f5f5;
				}
			}

			.img-box {
				width: 80px;
				height: 80px;
			}

			input.chose-count {
				width: 50px;
				line-height: 26px;
				height: 26px;
				margin: 0 10px;
				text-align: center;
				border: none;
				outline: none;

				&::-webkit-inner-spin-button,
				&::-webkit-outer-spin-button {
					-webkit-appearance: none;
				}
			}

			.chose-btn {
				height: 30px;
				width: 30px;
				line-height: 30px;
				text-align: center;
				background: #e8e8e8;
				outline: none;
				border: none;
			}
		}
	}
}

.myPurchase {
	.goods-detail-box {
		.goods-info {
			p {
				font-size: 16px;
				color: #000;
			}
		}

		.detail-list {
			padding: 0 10px;
			height: 60px;
			line-height: 60px;
			font-size: 16px;

			label {
				color: #979797;
			}

			span {
				color: #000;
			}

			&:nth-child(2n+1) {
				background: #F5F5F5;
			}
		}
	}
}

.myGoods {
	.goods-btn-box {
		.button {
			padding: 0 10px;
			line-height: 24px;
			height: 24px;
			border: 1px solid #333;
			margin: 0 10px;

			&:hover {
				background: #333;
				color: #fff;
			}
		}
	}
}

.addGoods {
	.search-box {
		input {
			width: 200px;
		}
	}

	.no-data {
		padding: 120px 0;

		p {
			margin-bottom: 40px;
		}

		a {
			display: block;
			height: 45px;
			line-height: 45px;
			margin: auto;
			width: 200px;
			background: #e1e1e1;
			font-size: 16px;
			color: #000;
		}
	}

	.goods-list {
		.goods-title {
			border-bottom: none;
			padding-bottom: 0;
		}

		.goods-box {
			border-bottom: 1px solid #f5f5f5;

			&:nth-child(2n) {
				background: #fff;
			}

			.add-btn {
				width: 48px;
				height: 24px;
				line-height: 24px;
				text-align: center;
				border: 1px solid #000;

				&:hover {
					background: #000;
					border-color: #000;
					color: #fff;
				}
			}
		}
	}
}

.choseAdd,
.handAdd {
	.form-box,
	.goods-box {
		padding: 30px 80px;
	}

	.add-nav {
		line-height: 24px;
		padding-bottom: 15px;
		border-bottom: 5px solid #f2f2f2;

		.el-breadcrumb {
			line-height: 24px;
		}
	}
}

.handAdd {
	.form-box {
		.goods-uploader-icon {
			border: 1px dashed #d9d9d9;
			font-size: 28px;
			color: #8c939d;
			width: 140px;
			height: 140px;
			line-height: 140px;
			text-align: center;
			cursor: pointer;

			&:hover {
				border-color: #000;
			}
		}

		.goods-img {
			width: 140px;
			height: 140px;
			display: block;
		}
	}
}

.choseAdd {
	font-size: 16px;

	.goods-row {
		height: 60px;
		line-height: 60px;
		border-bottom: 1px solid #F5F5F5;

		span {
			color: #979797;
		}
	}

	.input-row {
		height: 45px;
		line-height: 45px;
		margin-top: 30px;

		input {
			height: 43px;
			line-height: 43px;
			width: 200px;
			padding: 0 10px;
			border: 1px solid #bebebe;
			box-sizing: border-box;
			outline: none;
		}
	}
}

.myDemand {
	.order-content {
		.order-row{
			border-bottom: 1px solid #ddd;
			&:last-child{
				border-bottom: none;
			}
			.order-item{
				border-right: none;
			}
		}
		.button {
			border: 1px solid #000;
			height: 36px;
			line-height: 36px;
			width: 96px;
			text-align: center;

			&.wait {
				border-color: #979797;
				color: #979797;
			}
			&:hover{
				background: #000;
				color: #fff;
			}
		}
	}
}

.myInventory {
	.inventory-container {
		.inventory-checkbox {
			margin: 10px 0;
			position: relative;

			span {
				position: absolute;
				right: -5px;
			}
		}

		.inventory-goods {
			border-bottom: 1px solid #d8d8d8;
			padding: 30px 0;

			&:last-child {
				border-bottom: none;
			}

			.count-box {
				position: relative;
			}

			.overdose {
				position: absolute;
				top: 40px;
				left: 10px;
				color: #A82225;
			}
		}
	}

	.inventory-list {
		border-top: 1px solid #d8d8d8;
		border-bottom: 1px solid #d8d8d8;

		p {
			margin: 10px 0;
		}

		.img-box {
			width: 100px;
			height: 100px;
			flex-shrink: 0;
			margin-right: 10px;

			img {
				width: 100%;
			}
		}

		input.chose-count {
			width: 80px;
			line-height: 30px;
			height: 30px;
			text-align: center;
			border: 1px solid #dbdbdb;
			border-left: none;
			border-right: none;
			outline: none;

			&::-webkit-inner-spin-button,
			&::-webkit-outer-spin-button {
				-webkit-appearance: none;
			}
		}

		.chose-btn {
			height: 34px;
			width: 34px;
			line-height: 34px;
			text-align: center;
			background: #fff;
			outline: none;
			border: 1px solid #dbdbdb;
		}
	}

	.settlement-box {
		box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
		height: 80px;
		line-height: 80px;
		margin-top: 50px;

		.inventory-checkbox {
			margin: 0;
		}

		.del-btn {
			margin-left: 60px;
		}

		.settlement-btn {
			background: #000;
			width: 140px;
			text-align: center;
			color: #fff;
			margin-left: 50px;
			margin-right: 50px;
		}

		.settlement-price {
			font-size: 24px;
		}

		.button {
			height: 42px;
			line-height: 42px;
		}
	}
}
